<html>
    <head>
        <meta name="robots" content="noindex" />
        <link href="{$wa_url}wa-content/css/wa/wa-2.0.css?v{$wa->version(true)}" rel="stylesheet" type="text/css" >
        <script src="{$wa_url}wa-content/js/jquery/jquery-1.11.1.min.js?v{$wa->version(true)}" type="text/javascript"></script>
        <script src="{$wa_url}wa-content/js/jquery-wa/wa.js?v{$wa->version(true)}"></script>
        <script src="{$wa_url}wa-content/js/jquery-wa/wa.core.js?v{$wa->version(true)}"></script>
        <script src="{$wa_app_static_url}js/frontend/password.js?v{$wa->version()}"></script>
        <script defer="" src="{$wa_url}wa-content/js/fontawesome/fontawesome-all.min.js?v{$wa->version(true)}"></script>
    </head>
    <body>
        <div class="dialog-template">
            <div class="dialog">
                <div class="dialog-background"></div>
                <div class="dialog-body">
                    <header class="dialog-header"><h1>[`Enter a password`]</h1></header>
                    <div class="dialog-content">
                        <form>
                            <p><input type="password" name="password"></p>
                        </form>
                        <p class="state-error">&nbsp;</p>
                    </div>
                    <footer class="dialog-footer">
                        <button class="button green js-submit">[`Send`]</button>
                    </footer>
                </div>
            </div>
        </div>
    </body>
</html>
