{if isset($error)}
    <div class="fields">
        <div class="field">
            <div class="value">
                <span class="state-error">{$error}</span>
            </div>
        </div>
    </div>
{else}
    <div class="fields">
        <div class="field">
            <div class="name">[`View`]</div>
            <div class="value">
                <a href="?action=phpinfo" target="_blank">[`open`]</a>
            </div>
        </div>

        {if $can_publish_phpinfo}
            {if empty($controls_error)}
                <div class="field">
                    <div class="name">[`Public link`]</div>
                    <div class="value">
                        <div class="fields">
                            <div class="field">
                                <div class="value">
                                    <div class="switch-with-text published-status-selector">
                                        <span class="switch published-status-switch small">
                                            <input type="checkbox" name="" value="1" id="published-status-selector-checkbox" data-path="//phpinfo//"{if $published} checked{/if}>
                                        </span>
                                        <label for="published-status-selector-checkbox" data-active-text="[`link enabled`]" data-inactive-text="[`link disabled`]">{if $published}[`link enabled`]{else}[`link disabled`]{/if}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="field published-url-container"{if !$published} style="display: none;"{/if}>
                                <div class="value">
                                    <input type="text" disabled value="{$url}" class="published-url long">
                                    <a href="{$url}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field hidden-field"{if !$published} style="display: none;"{/if}>
                    <div class="name">[`Password protection`]</div>
                    <div class="value">
                        <form class="published-password-protection" data-set-password-action="publishedPhpinfoSetPassword">
                            <input type="hidden" name="path" value="//phpinfo//">

                            <div class="published-password-empty"{if !empty($published.password)} style="display: none;"{/if}>
                                <div class="fields">
                                    <div class="field">
                                        <div class="value">
                                            <span class="state-caution"><i class="fas fa-exclamation-triangle"></i> <strong>[`The link to your PHP configuration is not password-protected.`]</strong></span> <span class="gray">[`Non-authorized persons may view sensitive information about your server configuration.`]</span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="value">
                                            <a href="javascript:void(0);" class="published-set-password-link"><i class="fas fa-plus"></i> [`set password`]</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="published-password-exists"{if empty($published.password)} style="display: none;"{/if}>
                                <div class="fields">
                                    <div class="field">
                                        <div class="value">
                                            <span class="state-success"><i class="fas fa-lock"></i> <strong>[`The link to the PHP configuration viewing page is password-protected.`]</strong></span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="value">
                                            <span class="small">[`Password`]</span>
                                            <input type="text" class="auto-copy cursor-pointer published-password-value" value="{$published.password|default:''}" readonly="readonly" data-loc-copied="[`Copied to clipboard.`]">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="value">
                                            <a href="javascript:void(0);" class="published-reset-password-link"><i class="fas fa-sync-alt"></i> [`change password`]</a>
                                            <a href="javascript:void(0);" class="published-remove-password-link custom-ml-8"><i class="fas fa-times"></i> [`remove password`]</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {else}
                <div class="field">
                    <div class="name">[`Public link`]</div>
                    <div class="value">
                        <span class="state-error">{$controls_error}</span>
                    </div>
                </div>
            {/if}
        {/if}

        <div class="field dialog-error-message">
            <div class="value">
                <span class="state-error"></span>
            </div>
        </div>
    </div>
{/if}
