<div class="dialog">
    <div class="dialog-background"></div>
    <div class="dialog-body">
        <header class="dialog-header"><h1>
            {if $feature == 'search'}
                [`Files search`]
            {elseif $feature == 'sort-mode'}
                [`Sort order auto-remembering`]
            {elseif strpos($feature, 'search-file-contents-') === 0}
                [`Text search in file`]
            {/if}
        </h1></header>
        <div class="dialog-content">
            <div class="alert">
                {if $feature == 'search'}
                    [`You can <strong>search files</strong> by <em>name</em>, <em>contents</em> and selected <em>product</em> with the <em>Logs+</em> license.`]
                {elseif $feature == 'sort-mode'}
                    [`The selected sort order can be <strong>auto-remembered</strong> with the <em>Logs+</em> license.`]
                {elseif $feature == 'search-file-contents-pages'}
                    [`Your query wasn’t found on the last page.`]
                    [`<strong>Searching on other file pages</strong> is available with the <em>Logs+</em> license.`]
                {elseif $feature == 'search-file-contents-pagination'}
                    [`<strong>Searching on other file pages</strong> is available with the <em>Logs+</em> license.`]
                {elseif $feature == 'search-file-contents-scroll'}
                    [`You have reached the limit of free scrolls to search results. <strong>Scrolling to further results</strong> is available with the <em>Logs+</em> license.`]
                {/if}

                <a href="javascript: void(0);" class="view-premium-link nowrap" data-feature="{$feature}">[`Read more`] ›</a>
            </div>
        </div>
        <footer class="dialog-footer">
            {if $wa->get('show_always')}
                {if $wa->get('close_button')}
                    <button class="js-close-dialog">[`Close`]</button>
                {else}
                    <button class="js-submit">[`Close`]</button>
                {/if}
            {else}
                <button class="js-close-dialog">[`Close`]</button>
                <button class="js-close-dialog-forever light-gray">[`Do not show again`]</button>
            {/if}
        </footer>
    </div>
</div>
